absl-py==2.1.0
accelerate==0.32.0
aider-chat==0.43.4
aiodns==3.2.0
aiofiles==24.1.0
aiohttp==3.9.5
aiolimiter==1.1.0
aiosignal==1.3.1
aiosqlite==0.20.0
alembic==1.13.2
altair==5.3.0
annotated-types==0.7.0
anthropic==0.33.0
anyio==4.4.0
appdirs==1.4.4
arxiv==2.1.3
asn1crypto==1.5.1
asttokens==2.4.1
asyncio==3.4.3
attrs==23.2.0
autogenstudio==0.1.5
Babel==2.15.0
backoff==2.2.1
bcrypt==4.1.3
beautifulsoup4==4.12.3
bibtexparser==2.0.0b8
bitsandbytes==0.43.3
blinker==1.8.2
Brotli==1.1.0
bs4==0.0.2
CacheControl==0.14.0
cachetools==5.3.3
ccxt==4.4.26
certifi==2024.7.4
cffi==1.16.0
cfgv==3.4.0
charset-normalizer==3.3.2
click==8.1.7
clldutils==3.24.0
cloudscraper==1.2.71
coincurve==20.0.0
colorama==0.4.6
colorlog==6.8.2
comfy-cli==1.0.33
comm==0.2.2
ConfigArgParse==1.7
contourpy==1.2.1
courlan==1.2.0
Crawl4AI==0.4.247
cryptography==42.0.8
csvw==3.5.1
cycler==0.12.1
dash==2.17.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
dataclasses-json==0.6.7
datasets==2.14.7
dateparser==1.2.0
debugpy==1.8.6
decorator==4.0.11
defusedxml==0.7.1
deprecation==2.1.0
diff-match-patch==20230430
-e git+https://github.com/huggingface/diffusers@a7b9634e95fafe9aebdbf81763c9a0955fa3b77a#egg=diffusers
dill==0.3.7
diskcache==5.6.3
distlib==0.3.9
distro==1.9.0
dlinfo==1.2.1
docker==7.1.0
docstring_parser==0.16
dspy-ai==2.4.9
duckduckgo_search==6.3.0
einops==0.8.0
elementpath==4.7.0
entrypoints==0.4
executing==2.1.0
extra-streamlit-components==0.1.60
fake-http-header==0.3.5
Faker==26.0.0
fastapi==0.112.2
fastjsonschema==2.20.0
favicon==0.7.0
feedparser==6.0.11
ffmpeg==1.4
ffmpeg-python==0.2.0
filelock==3.15.4
firebase-admin==6.4.0
firecrawl==1.5.0
firecrawl-py==1.5.0
fix-busted-json==0.0.18
flake8==7.1.0
FLAML==2.2.0
Flask==3.0.3
flatbuffers==24.3.25
fonttools==4.53.1
frozenlist==1.4.1
fsspec==2023.10.0
ftfy==6.2.0
future==1.0.0
gitdb==4.0.11
GitPython==3.1.43
google-ai-generativelanguage==0.6.6
google-api-core==2.19.1
google-api-python-client==2.136.0
google-auth==2.31.0
google-auth-httplib2==0.2.0
google-cloud==0.34.0
google-cloud-aiplatform==1.60.0
google-cloud-bigquery==3.25.0
google-cloud-core==2.4.1
google-cloud-firestore==2.14.0
google-cloud-resource-manager==1.12.5
google-cloud-storage==2.14.0
google-cloud-vision==3.5.0
google-crc32c==1.5.0
google-generativeai==0.7.1
google-resumable-media==2.7.1
googleapis-common-protos==1.63.2
googlesearch-python==1.2.5
greenlet==3.1.1
grep-ast==0.3.2
grpc-google-iam-v1==0.13.1
grpcio==1.64.1
grpcio-status==1.62.2
grpcio-tools==1.62.2
h11==0.14.0
h2==4.1.0
hpack==4.0.0
htbuilder==0.6.2
htmldate==1.8.1
httpcore==1.0.5
httplib2==0.22.0
httpx==0.27.0
httpx-oauth==0.15.0
huggingface-hub==0.23.4
hyperframe==6.0.1
identify==2.6.1
idna==3.7
imageio==2.36.0
imageio-ffmpeg==0.5.1
importlib_metadata==7.2.1
importlib_resources==6.4.0
iniconfig==2.0.0
InstagramAPI==1.0.2
instagrapi==2.1.2
instructor==1.5.2
intel-openmp==2021.4.0
ipykernel==6.29.5
ipython==8.28.0
isodate==0.7.2
itsdangerous==2.2.0
jax==0.4.35
jaxlib==0.4.35
jedi==0.19.1
Jinja2==3.1.4
jiter==0.5.0
joblib==1.3.2
jsonpatch==1.33
jsonpath-python==1.0.6
jsonpointer==3.0.0
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
jupyter_client==8.6.3
jupyter_core==5.7.2
jusText==3.0.1
kiwisolver==1.4.5
-e git+https://github.com/stanford-oval/storm.git@8751f05a961d2113ebe4fb4f635e5675f13fa7de#egg=knowledge_storm
kornia==0.7.3
kornia_rs==0.1.4
langchain==0.2.12
langchain-anthropic==0.1.22
langchain-community==0.2.11
langchain-core==0.2.29
langchain-huggingface==0.0.3
langchain-openai==0.1.21
langchain-qdrant==0.1.2
langchain-text-splitters==0.2.2
langsmith==0.1.88
language-tags==1.2.0
litellm==1.58.0
loguru==0.7.2
lxml==5.3.0
lxml_html_clean==0.1.1
m3u8==5.1.0
Mako==1.3.5
Markdown==3.6
markdown-it-py==3.0.0
markdownlit==0.0.7
MarkupSafe==2.1.5
marshmallow==3.21.3
matplotlib==3.9.1
matplotlib-inline==0.1.7
mccabe==0.7.0
mdurl==0.1.2
mediapipe==0.10.18
mistralai==1.0.3
mixpanel==4.10.1
mkl==2021.4.0
ml_dtypes==0.5.0
mockito==1.5.3
more-itertools==10.3.0
moviepy==1.0.3
mplfinance==0.12.10b0
mpmath==1.3.0
msgpack==1.0.8
multidict==6.0.5
multiprocess==0.70.15
munch==4.0.0
mypy-extensions==1.0.0
natsort==8.4.0
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.2.1
nltk==3.9.1
nodeenv==1.9.1
numpy==1.26.4
oauthlib==3.2.2
openai==1.59.6
opencv-contrib-python==4.10.0.84
opencv-python==4.10.0.84
opt_einsum==3.4.0
optuna==3.6.1
orjson==3.10.6
outcome==1.3.0.post0
packaging==23.2
pandas==2.2.2
parso==0.8.4
pathspec==0.12.1
pdfkit==1.0.0
peft==0.7.0
phonemizer==3.3.0
pillow==10.4.0
platformdirs==4.3.6
playwright==1.49.1
plotly==5.22.0
pluggy==1.5.0
portalocker==2.10.1
pre_commit==4.0.1
primp==0.6.3
proglog==0.1.10
prometheus_client==0.20.0
prompt_toolkit==3.0.48
proto-plus==1.24.0
protobuf==4.25.3
psutil==6.1.1
psycopg==3.2.1
psycopg2==2.9.9
pure_eval==0.2.3
py-cpuinfo==9.0.0
pyarrow==16.1.0
pyarrow-hotfix==0.6
pyasn1==0.6.0
pyasn1_modules==0.4.0
pyautogen==0.2.35
pycares==4.4.0
pycodestyle==2.12.0
pycparser==2.22
pycryptodomex==3.20.0
pydantic==2.10.5
pydantic_core==2.27.2
pydeck==0.9.1
pydotenv==0.0.7
pyee==12.0.0
pyflakes==3.2.0
pygame==2.6.1
Pygments==2.18.0
PyJWT==2.8.0
pylatexenc==2.10
pymdown-extensions==10.8.1
pyngrok==7.2.0
pynostr==0.6.2
pyOpenSSL==25.0.0
pypandoc==1.13
pyparsing==3.2.1
pyppeteer==2.0.0
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.15.0
PySocks==1.7.1
pytest==8.3.3
pytest-mockito==0.0.4
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
pywin32==306
PyYAML==6.0.1
pyzmq==26.2.0
qdrant-client==1.10.1
questionary==2.0.1
rank-bm25==0.2.2
rdflib==7.1.2
referencing==0.35.1
regex==2024.5.15
replicate==1.0.1
requests==2.32.3
requests-oauthlib==1.3.1
requests-toolbelt==0.7.0
retrying==1.3.4
rfc3986==1.5.0
rich==13.7.1
rpds-py==0.18.1
rsa==4.9
safetensors==0.4.3
scikit-learn==1.5.1
scipy==1.13.1
seaborn==0.13.2
segments==2.2.1
selenium==4.25.0
sentence-transformers==3.0.1
sentencepiece==0.2.0
sentry-sdk==2.10.0
setuptools==70.2.0
sgmllib3k==1.0.0
shapely==2.0.5
shellingham==1.5.4
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
snowballstemmer==2.2.0
sortedcontainers==2.4.0
sounddevice==0.4.7
soundfile==0.12.1
soupsieve==2.5
spandrel==0.3.4
SQLAlchemy==2.0.31
sqlmodel==0.0.22
st-annotated-text==4.0.1
st-pages==0.4.5
st-theme==1.2.2
stack-data==0.6.3
starlette==0.38.4
streamlit==1.31.1
streamlit-authenticator==0.2.3
streamlit-camera-input-live==0.2.0
streamlit-card==1.0.2
streamlit-cookies-manager==0.2.0
streamlit-embedcode==0.1.2
streamlit-extras==0.4.3
streamlit-faker==0.0.3
streamlit-float==0.3.5
streamlit-image-coordinates==0.1.9
streamlit-keyup==0.2.4
streamlit-oauth==0.1.8
streamlit-option-menu==0.3.13
streamlit-toggle-switch==1.0.2
streamlit-vertical-slider==2.5.5
structlog==24.4.0
swarm @ git+https://github.com/openai/swarm.git@9db581cecaacea0d46a933d6453c312b034dbf47
sympy==1.13.1
ta==0.11.0
tabulate==0.9.0
tbb==2021.13.0
tenacity==8.4.2
tensorboard==2.17.0
tensorboard-data-server==0.7.2
termcolor==2.4.0
tf-playwright-stealth==1.1.0
threadpoolctl==3.5.0
tiktoken==0.7.0
tld==0.13
tlv8==0.10.0
tokenizers==0.19.1
toml==0.10.2
tomlkit==0.13.0
toolz==0.12.1
torch==2.5.1
torchaudio==2.4.1+cu121
torchsde==0.2.6
torchvision==0.20.1
tornado==6.4.1
tqdm==4.66.6
trafilatura==1.11.0
traitlets==5.14.3
trampoline==0.1.2
transformers==4.42.3
tree-sitter==0.21.3
tree-sitter-languages==1.10.2
trio==0.26.2
trio-websocket==0.11.1
tweepy==4.14.0
typer==0.12.3
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2024.1
tzlocal==5.2
ujson==5.10.0
ultralytics==8.3.27
ultralytics-thop==2.0.10
Unidecode==1.3.8
uritemplate==4.1.1
urllib3==1.26.19
uvicorn==0.30.6
validators==0.33.0
vertexai==1.60.0
virtualenv==20.26.6
watchdog==4.0.1
wcwidth==0.2.13
webdriver-manager==4.0.2
websocket-client==1.8.0
websockets==10.4
Werkzeug==3.0.3
wikipedia==1.4.0
win32-setctime==1.1.0
wsproto==1.2.0
xxhash==3.4.1
yarl==1.9.4
zipp==3.19.2
